.title {
	font-size: 18px;
	font-weight: 700;
	color: #353738;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	line-height: 1.4em;
	&:before {
		position: absolute;
		bottom: 60px;
		left: 50%;
		transform: translateX(-50%);
	}
	@media (max-width: $md4 + px) {
		font-size: 16px;
	}
}

.text {
	color: $textColor;
	line-height: 1.8889em;
}
