.new {
	padding: 200px 0px 130px 0px;
	background: #f7f7f7;
	&__wrapper {
		text-align: center;
	}
	&__title {
		margin: 0px 0px 25px 0px;
		&:before {
			content: url("../img/new/new.png");
		}
	}
	&__text {
		font-size: 18px;
	}
}
