@import "fonts";
@import "reset";
@import "base/var";

@import "blocks/blocks";

html {
	scroll-behavior: smooth;
}

body {
	font-family: $fontFamilyMain;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none;
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
}

@import "blocks/header";
@import "blocks/new";
@import "blocks/present";
@import "blocks/social";
@import "blocks/shop";
@import "blocks/mail";
@import "blocks/footer";
